@import "../../styles/colors";
@import "../../styles/style";

.switcherMainContainer {
  width: 184px;
  height: 31px;
  margin-left: 31px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid $primary;
  background-color: $primary;
  display: flex;
  padding: 0;
  cursor: pointer;

  .activeSwitch {
    color: $white;
    background-color: $primary;
    font-weight: normal;
    transition: .3s ease-in;
  }

  div {
    @include center;
    color: $primary;
    height: 100%;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-size: 11.5px;
    font-family: "Geometria", sans-serif;
    background-color: $white;
    font-weight: bold;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0 ;
    }
  }
}

