@import "../../styles/colors";

.cardMainContainer {
  width: 300px;
  height: 150px;
  border-radius: 10px;
  background-color: $no-active;
  box-sizing: border-box;
  padding: 14px 19px;
  display: flex;
  flex-direction: column;

  > div {

    label {
      font-weight: normal;
      letter-spacing: 0.4px;
      padding-bottom: 1px;
      color: $white;
    }

    &:first-child {
      margin-top: 1px;

      > div {
        width: 262px;
      }
    }

    &:last-child {
      margin-top: 22px;
      display: flex;
      justify-content: space-between;

      > div {
        width: 106px;
      }
    }
  }
}