@import "../../styles/colors";

.inputMainContainer {
  display: flex;
  flex-direction: column;
  width: 160px;
  position: relative;

  label {
    font-weight: 700;
    font-size: 11px;
    color: $gray;
  }

  input {
    margin-top: 2px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: $input-bg;
  }

  .plusLogo {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .10px;
    color: $blue;
    position: absolute;
    right: -74px;
    top: 50%;
  }

}