@import "../../styles/colors";

.inputMainContainer {
  display: flex;
  flex-direction: column;
  width: 337px;
  position: relative;

  label {
    font-weight: 700;
    font-size: 11px;
    color: $gray;
  }

  .customInput {
    width: 100%;
    margin-top: 3px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: $input-bg;
    font-family: Geometria, sans-serif;
    padding: 2px 4px;
    box-sizing: border-box;
  }

  .plusLogoLabel {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .10px;
    color: $blue;
    position: absolute;
    right: -74px;
    top: 50%;
    cursor: pointer;

    @media (width < 630px) {
      right: 1px;
      top: 0px;
    }
  }

  .error{
    outline: 1px solid $red;
  }

  .errorText {
    transition: .3s ease-in;
    position: absolute;
    left: 0;
    bottom: -13px;
    font-size: 8px;
    color: $gray;
    letter-spacing: -0.2px;
    width: max-content;

    @media (width < 330px) {
      font-size: 6.5px;
      bottom: -10px;
    }
  }
}

.halfInput {
  width: 160px;
}