@import "../../styles/colors";
@import "../../styles/style";

.headlineMainContainer {
  display: flex;
  flex-direction: column;

  > span {
    color: $primary;

    &:first-child {
      font-weight: 800;
      font-size: 51px;

      @media (width < 630px) {
        font-size: 35px;
        text-align: center;
      }
    }
  }

  .extraHeadline {
    margin-top: 6px;
    text-align: center;
    font-size: 14.5px;
    font-family: Gilroy;

    @media (width < 350px) {
      font-size: 12.5px;
    }
  }
}